<div *ngIf="isLoggedIn">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cliente
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"  routerLink="cliente">Cadastro cliente</a></li>
            <li><a class="dropdown-item"  routerLink="cliente-consulta">Consulta Cliente</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profissional
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="profissional">Cadastro Profissional</a></li>
            <li><a class="dropdown-item" routerLink="profissional-consulta">Consulta Profissional</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviço
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"routerLink="servico">Cadastro Serviço</a></li>
            <li><a class="dropdown-item" routerLink="servico-consulta">Consulta Serviço</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Agendamento
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"routerLink="agendamento">Cadastro Agendamento</a></li>
            <li><a class="dropdown-item" href="agendamento-consulta">Consulta Agendamento</a></li>
          </ul>
        </li>

      </ul>

    </div>
    <form class="d-flex">

      <div class="text-white">
        <strong>{{nomeUsuario}}</strong> ({{emailUsuario}})
        &nbsp;&nbsp;
        <button (click)="logout()" class="btn btn-outline-danger btn-sm">
          Sair do Sistema
        </button>
      </div>

    </form>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

</div>

<div *ngIf="!isLoggedIn">
  <app-login></app-login>
</div>

