<form [formGroup]="formCadastro">
    
    <h1>Cadastro de Cliente</h1>

    <div *ngIf="mensagem_sucesso" class="alert alert-success">
        Sucesso: <strong>{{mensagem_sucesso}}</strong>
    </div>

    <div *ngIf="mensagem_erro" class="alert alert-danger">
        Erro: <strong>{{mensagem_erro}}</strong>
    </div>


    <div class="form-group row">
        <div class="col-sm-6">
            <label for="Nome" class="col-sm-3 col-form-label">Nome:</label>
            <input type="text" class="form-control" name="nome"  
                placeholder=""  [(ngModel)]="cliente.nome" formControlName="nome" required="true">

                <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
 
                    <div *ngIf="form.nome.errors.required">
                        Por favor, informe o nome do cliente.
                    </div>

                    <div *ngIf="form.nome.errors.minlength">
                        Por favor, informe no mínimo 6 caracteres.
                    </div>

                    <div *ngIf="form.nome.errors.maxlength">
                        Por favor, informe no máximo 150 caracteres.
                    </div>

                </div>
        </div>
    </div> 

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="CPF" class="col-sm-3 col-form-label ">CPF:</label>
            <input type="text" class="form-control" formControlName="cpf" [(ngModel)]="cliente.cpf" name="cpf" placeholder="" 
            mask="000.000.000-00" required="true">
           
            <div class="text-danger" *ngIf="form.cpf.touched && form.cpf.invalid">
 
                <div *ngIf="form.cpf.errors.required">
                    Por favor, informe o cpf do cliente.
                </div>

                <div *ngIf="form.cpf.errors.minlength">
                    Por favor, informe no mínimo 6 caracteres.
                </div>

                <div *ngIf="form.cpf.errors.maxlength">
                    Por favor, informe no máximo 15 caracteres.
                </div>

            </div>
        </div>
    </div> 

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="email" class="col-sm-3 col-form-label">Email:</label>
            <input type="text" class="form-control" formControlName="email" id="email" [(ngModel)]="cliente.email" name="email"  placeholder="" required="true">
            
            <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
 
                <div *ngIf="form.email.errors.required">
                    Por favor, informe o email do cliente.
                </div>

                <div *ngIf="form.email.errors.minlength">
                    Por favor, informe no mínimo 6 caracteres.
                </div>

                <div *ngIf="form.email.errors.maxlength">
                    Por favor, informe no máximo 150 caracteres.
                </div>

            </div>
        
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="bairro" class="col-sm-3 col-form-label">Bairro:</label>
            <input type="text" class="form-control" id="bairro" formControlName="bairro" [(ngModel)]="cliente.bairro" name="bairro"  placeholder="" required="true">
            
            <div class="text-danger" *ngIf="form.bairro.touched && form.bairro.invalid">
 
                <div *ngIf="form.bairro.errors.required">
                    Por favor, informe o bairro do cliente.
                </div>

                <div *ngIf="form.bairro.errors.minlength">
                    Por favor, informe no mínimo 6 caracteres.
                </div>

                <div *ngIf="form.bairro.errors.maxlength">
                    Por favor, informe no máximo 150 caracteres.
                </div>

            </div>
        
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="dataNascimento" class="col-sm-3 col-form-label">Data Nascimento:</label>
            <input type="date" class="form-control" id="dataNascimento" formControlName="DtNascimento"
            [(ngModel)]="cliente.dataNascimento" name="dataNascimento"  placeholder="" required="true">
           
            <div class="text-danger" *ngIf="form.DtNascimento.touched && form.DtNascimento.invalid">

                <div *ngIf="form.DtNascimento.errors.minlength">
                    Por favor, informe no mínimo 6 caracteres.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="telefone" class="col-sm-3 col-form-label">Telefone:</label>
            <input type="text" class="form-control" id="telefone" formControlName="telefone"
             [(ngModel)]="cliente.telefone" name="telefone" placeholder="" required>
             
             <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
 
                <div *ngIf="form.telefone.errors.required">
                    Por favor, informe o telefone do cliente.
                </div>

                <div *ngIf="form.telefone.errors.minlength">
                    Por favor, informe no mínimo 2 caracteres.
                </div>

                <div *ngIf="form.telefone.errors.maxlength">
                    Por favor, informe no máximo 15 caracteres.
                </div>

            </div>
        
            </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <label for="sexo" class="col-sm-3 col-form-label">Sexo:</label>
            <input type="text" class="form-control" id="sexo" name="sexo"
             [(ngModel)]="cliente.sexo" placeholder=""  formControlName="sexo" required="true">
              
             <div class="text-danger" *ngIf="form.sexo.touched && form.sexo.invalid">
 
                <div *ngIf="form.sexo.errors.required">
                    Por favor, informe o sexo do cliente.
                </div>

                <div *ngIf="form.sexo.errors.minlength">
                    Por favor, informe no mínimo 2 caracteres.
                </div>

                <div *ngIf="form.sexo.errors.maxlength">
                    Por favor, informe no máximo 6 caracteres.
                </div>

            </div>

        </div>
    </div>
    

    <button  class="btn btn-success" (click)="salvar()" [disabled]="!formCadastro.valid">Cadastra</button>


</form>
